<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
        <%= link_to  "www.twitter.com", class: "btn btn-block btn-twitter" do %>
            <i class="fab fa-twitter">Login via Twitter</i>
        <%end%>
        <%= link_to "www.facebook.com", class: "btn btn-block btn-facebook" do %>
            <i class="fab fa-facebook-f">Login via Facebook</i>
        <%end%>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<%= render 'form'%>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->